@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cal+Sans&family=Golos+Text:wght@400..900&display=swap');
@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
    --prim: #CAA05c;
    --text: #1C1C1D;
    --body: #F6F6F6;
    --white: #fff;
    --black: #000;

    --CalSans: "Cal Sans", sans-serif;
    --GolosText: "Golos Text", sans-serif;
    --Audiowide: "Audiowide", sans-serif;

    --transition-regular: 0.3s;
    --transition-slow: 0.6s;

}

body{
    background-color: var(--body);
}

.CalSans{
    font-family: var(--CalSans);
}

.GolosText{
    font-family: var(--GolosText);
}

.Audiowide{
    font-family: var(--Audiowide);
}

.menu-link a{
    font-family: var(--GolosText);
    font-weight: 300;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-image: url('../public/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

.hero-span{
    position: relative;

}
.hero-span:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--prim);
}

.hero-bg-elm{
    position: absolute;
    top: 0;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: var(--white);
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
}

.hero-bg-elm2{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-color: rgba(195, 195, 195, 0.3);
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
}

.hero-content-img i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    color: var(--white);

}

.partner-swiper{

    padding: 20px !important;
 }

.partner-img{
    transition: var(--transition-regular);
    cursor: pointer;
}

.partner-img:hover{
    transform: scale(1.1);
}


.about{
    background-image: url('../public/About-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.title{
    position: relative;
}

.title:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(131, 131, 131, 0.3);
}

.title:before{
    content: "";
    position: absolute;
    top: -20%;
    right: 10%;
    width: 1px;
    height: 250px;
    background-color: rgba(131, 131, 131, 0.3);
}

.title-span{
    position: relative;
}

.title-span:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--prim);
}


.paralex-wrap{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    will-change: transform, opacity;
}

.paralex-wrap:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}


.paralex-content{
    height: 80vh;
}

.service:after{
    content: "Elegant Designs";
    position: absolute;
    line-height: 9rem;
    bottom: 0;
    left: 10%;
    font-size: 5rem;
    font-weight: 800;
    font-family: var(--Audiowide);
    opacity: 0.1;
    color: gray;
}
.service:before{
    content: "";
    position: absolute;
    background-image: url("../public/service-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -13%;
    right: 10%;
    height: 450px;
    width: 800px;

}

.service-img{
    transform: scale(0);
    opacity: 0;
    transition: var(--transition-slow);
}

.service-card:hover .service-img{
    transform: scale(0.9);
    opacity: 1;
}

.service-card:hover i{
    transform: rotate(45deg);
    background-color: var(--prim);
    color: var(--white);
    padding: 6px 10px;
    border-radius: 50%;
}


.expertise-slider{
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 70%;
    height: 700px;
    overflow: hidden;
    border-radius: 20px;

}

.expertise-slider img{
    animation: Anim-scale 4s forwards linear;
    border-radius: 20px;

}

@keyframes Anim-scale {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}


.pricing-wrap{
    background-image: url('../public/pricing-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.pricing-wrap:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00000096 10%, #00000000);
    z-index: -1;
}

.pricing-card{
    position: relative;
    z-index: 1;
}
.pricing-card:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/pricing-card-bg.png');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}

.testimonial-image{
    height: 90vh;
    background-image: url('../public/testimonial-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.testimonial-image:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner{
    background-image: url('../public/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.newsletter{
    z-index: 1;
}

.newsletter:after{
    content: "";
    position: absolute;
    background-image: url('../public/newsletter-bg.png');
    background-position: right center;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.newsletter:before{
    content: "";
    position: absolute;
    background-image: url('../public/newsletter-bg.png');
    background-position: right center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer{
    background-image: url('../public/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
}
.footer:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d0;
    z-index: -1;
}

.section-bg{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../public/page-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.section-bg:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.service-wrap{
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
}
.service-wrap:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000d7  , #00000050);
    z-index: -1;
}
.service-wrap:before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: linear-gradient(120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0) 100%
    );
    z-index: -1;
}

.service-wrap:hover::before{
    animation: shineSweep 0.6s ease-out forwards;
}

@keyframes shineSweep {
    0% {
        left: -100%;
    }
    100% {
        left: 120%;
    }
}


@media(max-width:991px){
    .hero{
        height: 100%;
        margin-top: 8%;
    }
    .hero-content-img{
        top: 70%;
    }

    .about{
        background-position: top center;
    }

    .service:before{
        height: 350px;
        bottom: -10%;
        width: 500px;
    }

    .service-img{
        transform: scale(1);
        opacity: 1;
        transition: var(--transition-slow);
    }

    .expertise-card{
        margin: 0 !important;
    }
    .expertise-slider
    {
        bottom: -20%;
        height: 550px;
    }
    .pricing-wrap{
        height: 300px;
    }
}

@media(max-width:575px) {
    .hero {
        margin-top: 15%;
    }

    .hero-content-img {
        top: 50% !important;
    }

    .service:before {
        display: none;
    }

    .service:after {
        bottom: -1%;
    }

    .expertise-slider{
        position: relative;
        width: 100%;
        height: 400px;
    }
    .newsletter:before{
        display: none;
    }
}

